extends /layouts/main_layout
block vars
	- var title = "Team page";
block content
	.Company
		.Label.Company_label Наша команда
		.Company_wrapper
			.Company_logo
				img(src="/img/circles.png" alt="").Company_logoImg
			.Company_titleWrapper
				h1.Company_title Работаем для Вас
				.Company_slogan
					p Мы – команда увлеченных своим делом высококлассных специалистов.
			.Company_textWrapper
				.Company_text
					p Компания – а это, прежде всего, люди – живой организм, который работает благодаря тому, что все его элементы организованы, и у каждого есть определенная функция, которую необходимо выполнить. В любой проект мы вкладываем весь свой немалый опыт и талант, доводя каждую работу до совершенства.
				.Statistics
					.Statistics_item
						.Statistics_number 10
						.Statistics_text лет на рынке #[br]недвижимости
					.Statistics_item
						.Statistics_number 15
						.Statistics_text возведенных #[br]домов
	.Mission.Mission-team
		img(src="/img/mission_team_img.jpg" alt="Миссия компании").Mission_img
		.Container.Mission_container
			.Quote.Quote-team.Mission_quote Миссия компании «Мера» — создать высокий уровень комфорта. Официальный год основания компании. Подготовка к выходу на рынок недвижимости. Поиск площадок, разработка проектов, построение финмоделей.
			.TeamMember.TeamMember-twoCol.Mission_teamMember
				.TeamMember_photoWrapper
					img(src="/img/team_members/valeriy_papakul.jpg" alt="Сергей Федоров").TeamMember_photo
				.TeamMember_textWrapper
					.TeamMember_name Сергей Федоров
					.TeamMember_post Креативный директор
	.TeamMembers
		.Container.TeamMembers_container
			.TeamMembers_row
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/tatyana_ignatovskaya.jpg" alt="Татьяна Игнатовская").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Татьяна Игнатовская
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/svetlana_nikiforova.jpg" alt="Светлана Никифорова").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Светлана Никифорова
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/sergey_fedorov.jpg" alt="Сергей Федоров").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Сергей Федоров
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/svetlana_nikiforova.jpg" alt="Светлана Никифорова").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Светлана Никифорова
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/tatyana_ignatovskaya.jpg" alt="Татьяна Игнатовская").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Татьяна Игнатовская
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/valeriy_papakul_small.jpg" alt="Валерий Папакуль").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Валерий Папакуль
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/tatyana_ignatovskaya.jpg" alt="Татьяна Игнатовская").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Татьяна Игнатовская
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/sergey_fedorov.jpg" alt="Сергей Федоров").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Сергей Федоров
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/valeriy_papakul_small.jpg" alt="Валерий Папакуль").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Валерий Папакуль
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/tatyana_ignatovskaya.jpg" alt="Татьяна Игнатовская").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Татьяна Игнатовская
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/svetlana_nikiforova.jpg" alt="Светлана Никифорова").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Светлана Никифорова
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/sergey_fedorov.jpg" alt="Сергей Федоров").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Сергей Федоров
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/svetlana_nikiforova.jpg" alt="Светлана Никифорова").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Светлана Никифорова
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/tatyana_ignatovskaya.jpg" alt="Татьяна Игнатовская").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Татьяна Игнатовская
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/valeriy_papakul_small.jpg" alt="Валерий Папакуль").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Валерий Папакуль
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/tatyana_ignatovskaya.jpg" alt="Татьяна Игнатовская").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Татьяна Игнатовская
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/sergey_fedorov.jpg" alt="Сергей Федоров").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Сергей Федоров
							.TeamMember_post Креативный директор
				.TeamMembers_col
					.TeamMember
						.TeamMember_photoWrapper
							img(src="/img/team_members/valeriy_papakul_small.jpg" alt="Валерий Папакуль").TeamMember_photo
						.TeamMember_textWrapper
							.TeamMember_name Валерий Папакуль
							.TeamMember_post Креативный директор
	.FormSection
		.Container
			form(action="").FormBlock
				.FormBlock_inner
					h3.FormBlock_title Перезвоним, проконсультируем, подберем лучшие варианты
					.FormBlock_text
						p Закажите консультацию и наш менеджер перезвонит вам в течении 15 минут
					.FormBlock_wrapper
						input(type="tel" name="phone" placeholder="Телефон").FormText.FormText-phone.FormBlock_formText
						button(type="submit").BtnBlue.BtnBlue-arrow Получить консультацию
block page_bottom
	script(src="/js/index.js")