// START: layout vars
$xs = '(max-width: 767px)'
$smMinus = '(max-width: 1283px)'
$sm = '(min-width: 768px) and (max-width: 1283px)'
$smPlus = '(min-width: 768px)'
$md = '(min-width: 1284px)'

$smBoxWidth = 1044px
$mdBoxWidth = 1236px

$xsHeaderHeight = 48px
$smHeaderHeight = 98px
$mdHeaderHeight = 98px

$xsFooterHeight = 70px
$smFooterHeight = 66px
$mdFooterHeight = 100px
// END: layout vars

// START: color vars
$white = #fff
$blue = #5A6487
$roze = #965087
$blue2 = #207FAC
$grey = #8989A9
$grey1 = #333
$black = #000
// END: color vars

// START: font vars
$baseFont = 'Montserrat', sans-serif
// $angelicaProFont = 'Anglecia Pro Display', sans-serif
$angelicaProFont = 'AngelicaPro', sans-serif
// END: font vars