// START: layout vars
$xxs = '(max-width: 576px)'
$xs = '(max-width: 768px)'
$smMinus = '(max-width: 1200px)'
$sm = '(min-width: 769px) and (max-width: 1200px)'
$smPlus = '(min-width: 769px)'
$md = '(min-width: 1201px)'
$lgMinus = '(max-width: 1440px)'
$lg = '(min-width: 1201px) and (max-width: 1440px)'
$xlMinus = '(max-width: 1919px)'
$lg = '(min-width: 1441px) and (max-width: 1919px)'
$xl = '(min-width: 1920px)'

$smBoxWidth = 1044px
$mdBoxWidth = 1236px

$xsHeaderHeight = 48px
$smHeaderHeight = 98px
$mdHeaderHeight = 98px

$xsFooterHeight = 70px
$smFooterHeight = 66px
$mdFooterHeight = 100px
// END: layout vars

// START: color vars
$white = #fff
$blue = #5A6487
$roze = #965087
$blue2 = #207FAC
$grey = #8989A9
$grey1 = #333
$black = #000
// END: color vars

// START: font vars
$baseFont = 'Montserrat', sans-serif
// $angelicaProFont = 'Anglecia Pro Display', sans-serif
$angelicaProFont = 'AngelicaPro', sans-serif
// END: font vars