.About
	position relative
	padding-top 2.6%
	padding-bottom 8.5%

	@media $lgMinus
		padding-bottom 6%

	@media $smMinus
		padding-bottom 4%

	@media $xs
		padding-bottom 3%

	&_left
		position absolute
		top 0
		width 50%
		padding 31% 0
		pointer-events none

		@media $lgMinus
			width 40%

		@media $smMinus
			padding 26% 0
		
		@media $xs
			position relative
			// width 296px
			width auto
			padding 0

		&::before
			content ''
			display block
			position absolute
			top 0
			right 38%
			width 150%
			height 100%
			border 1px solid $roze
			border-radius 50%

			@media $lgMinus
				height 87%
			
			@media $smMinus
				display none

	&_statistics
		margin-bottom 12.8%
		margin-left 9%

		@media $lgMinus
			margin-bottom 9%
			margin-left 4%
		
		@media $smMinus
			margin-bottom 6%
			margin-left 0
		
		@media $xs
			margin-bottom 3%
	
	&_logoWrapper
		position absolute
		top 50%
		left 48%
		transform translate(-25%, -50%)
		display flex
		justify-content center
		align-items center
		width 41.667%
		height 33.603%
		padding 8.7%
		border-radius 50%
		background $white
		box-shadow 0 20px 80px rgba(46, 56, 91, 0.1)

		@media $lgMinus
			height 26.883%
		
		@media $smMinus
			height 32.052%
			transform translate(-25%, -10%)
		
		@media $xs
			position relative
			left 0
			// width 24%
			width 160px
			margin auto
			// padding 6.7%
			padding 40px
			transform none
	
	&_right
		width 50%
		margin-left auto

		@media $lgMinus
			width 52%
		
		@media $xs
			width auto
	
	&_textWrapper
		position relative
		width 700px
		max-width 100%
		padding-right 90px
		padding-bottom 6.7%

		@media $lgMinus
			width 520px
			padding-right 65px
			padding-bottom 4%

		@media $smMinus
			width 430px
			// padding-right 54px
			padding-right 0
			padding-bottom 3.3%
		
		@media $xs
			width 520px
			margin 35px auto 0
			padding 0 40px
		
		@media $xxs
			padding 0 20px

		&::after
			content ''
			position absolute
			right 0
			bottom 0
			width 180px
			height 320px
			background linear-gradient(180deg, rgba(150, 80, 135, 0.2) 0%, $roze 100%)
			pointer-events none

			@media $lgMinus
				width 135px
				height 240px

			@media $smMinus
				display none
				// width 112px
				// height 200px
	
	&_title
		margin-bottom 0.7em
		font-weight 600
		font-size 64px
		line-height 1.1
		letter-spacing -0.02em

		@media $lgMinus
			font-size 48px

		@media $smMinus
			font-size 40px

		@media $xs
			font-size 33px
	
	&_text
		margin-bottom 1.4em
		font-size 24px
		line-height 1.4
		color $grey1

		@media $lgMinus
			font-size 18px

		@media $lgMinus
			// font-size 15px
			font-size 17px
	
	&_note
		margin-bottom 5.6em
		color $grey1
		font-size 14px
		line-height 1.8

		// @media $lgMinus
		// 	font-size 11px

		// @media $smMinus
		// 	font-size 10px
		
		@media $smMinus
			margin-bottom 3em