.ArrowDown
	display inline-flex
	width 64px
	height 100px
	background url("data:image/svg+xml,%3Csvg width='64' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='2' d='M32 0v98M1 67l31 31 31-31'/%3E%3C/svg%3E") 0 0 no-repeat