.ArrowTopRight
	display inline-flex
	width 37px
	// height 36px
	background url("data:image/svg+xml,%3Csvg viewBox='0 0 37 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.043 24.13V8.043H11.957M8.245 27.842L28.044 8.043' stroke='%23965087' stroke-width='3'/%3E%3C/svg%3E") center center / contain no-repeat

	@media $lgMinus
		width 28px

	&::after
		content ''
		padding-top 97.2%