.BtnOutline
	display inline-flex
	padding 1.5307em 2.9769em
	border 1px solid $blue2
	border-radius 40px
	font-weight 600
	font-size 13px
	line-height 1.2307em
	text-transform uppercase
	white-space nowrap
	letter-spacing -0.02em
	background transparent
	color $blue2
	@extend .transition

	&:hover
		background $blue2
		color $white
	
	&-arrowTopRight
		padding-right 5.16923em
		background transparent url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.951 12.728V4.243H4.466M4.223 12.932l8.486-8.485' stroke='%23207FAC' stroke-width='2'/%3E%3C/svg%3E") calc(100% - 3em) center / 1.3846em auto no-repeat

		&:hover
			background $blue2 url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.951 12.728V4.243H4.466M4.223 12.932l8.486-8.485' stroke='%23FFF' stroke-width='2'/%3E%3C/svg%3E") calc(100% - 3em) center / 1.3846em auto no-repeat
	
	&-arrow
		padding-right 4.46923em
		background transparent url("data:image/svg+xml,%3Csvg viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13l6-6-6-6' stroke='%23207FAC' stroke-width='2'/%3E%3C/svg%3E") calc(100% - 2.8em) center / 0.6923em auto no-repeat

		&:hover
			background $blue2 url("data:image/svg+xml,%3Csvg viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13l6-6-6-6' stroke='%23FFF' stroke-width='2'/%3E%3C/svg%3E") calc(100% - 2.8em) center / 0.6923em auto no-repeat