.Conditions
	padding 8.2% 0 7.4%
	background url('../img/pattern.png') right top no-repeat

	&_header
		margin-bottom -0.6em

	&_title
		margin-bottom 0.64em
		font-weight 600
		font-size 64px
		line-height 1.1
		letter-spacing -0.02em
	
	&_paymentMethods
		display flex
		align-items flex-start
	
	&_paymentMethod
		&:first-child
			margin-top 5em
			margin-right 5em