.Contacts
	&_item
		display flex
		align-items flex-start
		padding 40px 0
		border-bottom 1px solid $grey

		&:first-child
			border-top 1px solid $grey
	
	&_itemName
		flex 192px 0 1
		margin-top 5px
		margin-right 20px
		font-size 16px
		line-height 1.8
		color $black
	
	&_phoneWrapper
		margin-bottom 15px
		font-weight 600
		font-size 36px
		line-height 1.1
		letter-spacing -0.02em
		color $black
	
	&_address
		margin-bottom 19px
		font-size 16px
		line-height 1.8