.FirstSection
	// position relative
	padding 202px 60px 106px
	background url('../img/bg_frontpage_header.jpg') 0 0 / cover no-repeat
		
	&::before
		content ''
		position absolute
		top 198px
		left 60px
		width 400px
		height 400px
		background url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M400 200a200.003 200.003 0 01-123.463 184.776 200.006 200.006 0 01-217.958-43.355A199.998 199.998 0 0188.886 33.706 200 200 0 01200 0v108.195a91.802 91.802 0 00-84.817 56.673 91.802 91.802 0 0066.907 125.173 91.797 91.797 0 0094.243-39.037A91.802 91.802 0 00291.805 200H400z' fill='%23965087'/%3E%3C/svg%3E") 0 0 no-repeat

	&_textWrapper
		position relative
		display flex
		align-items flex-start
		margin-top 56px
		padding-left 300px
	
	&_titleWrapper
		margin-right 40px

	&_title
		width 480px
		max-width 100%
		margin-bottom 120px
		color $white
		font-size 88px
		line-height 1.1

		em
			font-family $angelicaProFont
	
	&_text
		width 300px
		margin-top 16px
		color $white
		font-weight 500
		font-size 18px
		line-height 1.8
	
	&_bottom
		position relative
		margin-top 106px
		text-align center
	
	&_socLinks
		position absolute
		bottom -30px
		left 0
		// bottom 75px
		// left 60px
