.Footer
	padding 4% 0 2.2%
	background $white

	@media $lgMinus
		padding 3% 0 2%

	@media $smMinus
		padding 2.6% 0 1.6%
	
	@media $xs
		padding 25px 0
	
	&_top
		display flex
		align-items flex-start
		margin-bottom 5.9%

		@media $xs
			flex-wrap wrap
			justify-content center
			// margin-bottom 4%

		@media $xxs
			flex-direction column
			align-items center
			// margin-bottom 3%
	
	&_logo
		margin-right 7.2%

		@media $lgMinus
			margin-right 16%
		
		@media $xs
			margin-right 35px
		
		@media $xxs
			margin-right 0
			margin-bottom 20px
	
	&_secondaryMenu
		margin-right 8.3%
		
		@media $lgMinus
			margin-right 13.5%
		
		@media $xs
			margin-right 0
	
	&_contacts
		margin-top 0.1%

		@media $xs
			flex 100% 1 1
			margin-top 25px
	
	&_address
		margin-bottom 2em
		font-size 16px
		line-height 1.8

		// @media $lgMinus
		// 	font-size 14px
		
		@media $xs
			margin-bottom 1.5em
			text-align center