.Footer
	padding-top 78px
	padding-bottom 40px
	background $white
	
	&_top
		display flex
		align-items flex-start
		margin-bottom 70px
	
	&_logo
		margin-right 87px
	
	&_secondaryMenu
		margin-top 6px
		margin-right 99px
	
	&_contacts
		margin-top 3px
	
	&_address
		margin-bottom 2em
		font-size 16px
		line-height 1.8