.FormBlock
	display flex
	max-width 100%
	background $blue
	font-size 16px

	@media $lgMinus
		// font-size 13px
		font-size 15px

	@media $smMinus
		width 720px
		// font-size 10px

	&::after
		content ''
		flex 19.6875em 0 0
		margin-left auto
		background #ECEFF6 url('../img/form_pattern.png') 0 0 no-repeat

		@media $smMinus
			display none
	
	&_inner
		max-width 100%
		padding 5.2em 3.75em 5.875em

		@media $smMinus
			flex-grow 1
			padding 3em 2em 3.5em
		
		@media $xs
			padding 2em 1em
			// max-width 100%
			// padding 3em
	
	&_title,
	&_text
		@media $xs
			text-align center
	
	&_title
		margin-bottom 0.9em
		font-weight 600
		font-size 2.25em
		line-height 1.1
		letter-spacing -0.02em
		color $white

		@media $xs
			font-size 1.85em
			line-height normal

		@media $xxs
			font-size 1.5em
	
	&_text
		margin-bottom 3.8em
		font-size 1em
		line-height 1.1
		color rgba($white, .5)

		@media $smMinus
			margin-bottom 2.7em
		
		@media $xs
			margin-bottom 2em
	
	&_wrapper
		display flex
		// align-items center
		align-items stretch

		@media $xs
			width 27.5em
			max-width 100%
			margin-right auto
			margin-left auto
			flex-direction column
			// align-items stretch
	
	&_formText
		margin-right 1.4375em

		@media $xs
			margin-bottom 20px
			margin-right 0
		
		@media $xxs
			margin-bottom 15px