.FormText
	max-width 100%
	height 3.625em
	padding 0 1.9375em
	outline none
	border none
	border-radius 2.5em
	font-size 16px

	@media $xs
		height 3.4em

	@media $xxs
		height 3em

	&-phone
		width 27.5em