.FormBlock
	display flex
	background $blue

	&::after
		content ''
		flex 315px 0 0
		margin-left auto
		background #ECEFF6 url('../img/form_pattern.png') 0 0 no-repeat
	
	&_inner
		// padding 80px 60px
		padding 80px 60px 94px
	
	&_title
		margin-bottom 0.9em
		font-weight 600
		font-size 36px
		line-height 1.1
		letter-spacing -0.02em
		color $white
	
	&_text
		margin-bottom 3.8em
		font-size 16px
		line-height 1.1
		color rgba($white, .5)
	
	&_wrapper
		display flex
		align-items center
	
	&_formText
		margin-right 23px