.Header
	position fixed
	z-index 100
	top 0
	right 0
	left 0
	display flex
	justify-content space-between
	padding 23px 60px
	@extend .transition

	&_left,
	&_right
		display flex
		align-items center
	
	&_logo
		margin-right 87px
	
	&_phone
		margin-right 74px
	
	&-whiteBg
		background $white