.Header
	top -100px
	display flex
	justify-content space-between
	padding 23px 60px
	height 98px
	@extend .transition

	&_left,
	&_right
		display flex
		align-items center
	
	&_logo
		margin-right 87px
	
	&_phone
		margin-top 0.3em
		margin-right 3.4em
	
	&-sticky
		position sticky
		z-index 100
		top 0
		right 0
		left 0
		background $white
	
	&-frontpage
		margin-bottom -98px

		.Header_phone
			margin-top 0
			margin-right 4.1em