.MainMenu
	&_list
		display flex
	
	&_item
		margin-right 2.5em

		@media $lgMinus
			margin-right 2em

		&:last-child
			margin-right 0
	
	&_link
		position relative
		padding-bottom 0.4em
		color $white
		font-weight 500
		font-size 16px
		line-height 1.25

		// @media $lgMinus
		// 	font-size 14px

		// @media $smMinus
		// 	font-size 13px

		&::after
			content ''
			position absolute
			right 0
			bottom 0
			left 0
			width 0
			height 2px
			margin auto
			background $white
			@extend .transition
		
		&:hover::after
			width 100%
	
	&-black
		.MainMenu_link
			color $black

			&::after
				background $black
	
	&-mobile
		.MainMenu_list
			flex-direction column
		
		.MainMenu_item
			margin-right 0
			margin-bottom 1.6em

			&:last-child
				margin-bottom 0

		.MainMenu_link
			font-size 20px