.Mission
	position relative

	&_img
		display block

	&_container
		position absolute
		top 0
		right 0
		left 0
		margin-top 13.2%

		@media $lgMinus
			margin-top 10%

		@media $smMinus
			margin-top 8%

		@media $xs
			margin-top 5%
	
	&_bottom
		padding 0 20px 72px
		text-align center
		background $white

		@media $lgMinus
			padding-bottom 54px

		@media $smMinus
			padding-bottom 45px
	
	&_circle
		margin-top -14.46em
		margin-bottom 3.46em

		@media $lgMinus
			margin-top 3em
			margin-bottom 3em
	
	&_bottomText
		width 31.25em
		max-width 100%
		margin 0 auto
		font-weight 500
		font-size 16px
		line-height 1.8

		@media $lgMinus
			font-size 13px

		@media $xs
			font-size 12px
	
	&_quote
		max-width 45%

		@media $smMinus
			max-width 100%
			margin-right auto
			margin-left auto
	
	&_teamMemberWrapper
		@media $smMinus
			display flex
			justify-content center
			padding 40px 40px 0
	
	&_teamMember
		position absolute
		right 3.1%
		bottom 1.2%
		max-width 50%
		
		@media $smMinus
			position static
	
	&-team
		padding-bottom 11%

		@media $smMinus
			padding-bottom 4%

		.Mission_container
			bottom 0
			margin-top 26%

			@media $lgMinus
				margin-top 6%