.Mission
	position relative

	&_img
		display block

	&_container
		position absolute
		top 0
		right 0
		left 0
		margin-top 13.2%
	
	&_bottom
		padding-bottom 72px
		text-align center
		background $white
	
	&_circle
		margin-top -188px
		margin-bottom 45px
	
	&_bottomText
		width 500px
		max-width 100%
		margin 0 auto
		font-weight 500
		font-size 16px
		line-height 1.8
	
	&_quote
		max-width 45%
	
	&_teamMember
		position absolute
		right 1.6%
		bottom 0
		max-width 50%
	
	&-team
		padding-bottom 11%

		.Mission_container
			bottom 0
			margin-top 26%