.NewsBlock
	display flex
	padding 2.7% 0 3.6%
	border-bottom 1px solid rgba($grey, 0.5)

	&_date
		flex 87px 0 0
		margin-right 3.8em
		font-size 14px
		line-height 1.8
		color $grey
	
	&_title
		flex 450px 0 0
		margin-right 1.4em
		font-family $angelicaProFont
		font-style italic
		font-size 36px
		line-height 1.1
		color $black
	
	&_text
		flex 440px 0 0
		margin-top 6px
		color $grey
		font-size 16px
		line-height 1.8
	
	&_arrowTopRight
		flex-shrink 0
		margin-left auto
	
	&-borderTop
		border-top 1px solid rgba($grey, 0.5)