.PaymentMethod
	width 560px
	max-width 100%
	// min-height 680px
	background $white

	&_imgWrapper
		position relative
	
	&_img
		display block

	&_circle
		position absolute
		right 40px
		bottom -50px

	&_content
		position relative
		min-height 336px
		padding 48px 40px
	
	&_title
		margin-bottom 0.83em
		font-style italic
		font-size 36px
		line-height 1.1
		font-family $angelicaProFont
	
	&_text
		font-size 16px
		line-height 1.8
		color $grey
	
	&_arrowLink
		position absolute
		right 40px
		bottom 20px