.Project
	display flex
	align-items flex-start

	&_textWrapper
		flex 440px 0 0
	
	&_category
		margin-bottom 6.9em
		color $blue
		font-weight 600
		font-size 12px
		line-height 1.1
		text-transform uppercase
		letter-spacing 0.12em
	
	&_titleWrapper
		position relative
		margin-right -30px
		margin-bottom 2.5em
	
	&_title,
	&_subtitle
		line-height 1.1
		letter-spacing -0.02em
	
	&_title
		margin-bottom 0.1em
		font-size 36px
	
	&_subtitle
		font-size 96px
	
	&_estatePanel
		margin-right -160px
		margin-bottom 88px
	
	&_imageWrapper
		flex auto 1 1