.SectionTitle
	font-weight 600
	font-size 48px
	line-height 1.1
	letter-spacing -0.02em
	color $black

	@media $lgMinus
		font-size 36px

	@media $smMinus
		font-size 30px

	@media $xs
		font-size 25px

	@media $xxs
		font-size 22px