.Statistics
	display flex
	justify-content center
	// width 692px
	// max-width 100%

	&_item
		// flex calc(33.33% - 20px) 0 0
		// margin-right 20px
		margin-right 113px

		&:last-child
			margin-right 0

	&_number
		margin-bottom 12px
		font-style italic
		font-size 80px
		font-family $angelicaProFont
		color $blue
	
	&_text
		display flex
		font-weight 600
		font-size 14px
		line-height 1.4
		text-transform uppercase
		color $grey1

		&::before
			content ''
			width 40px
			height 2px
			margin-top 9px
			margin-right 20px
			background $roze