.TeamMember
	width 21.25em
	font-size 16px

	@media $lgMinus
		font-size 15px
	
	@media $smMinus
		font-size 14px

	&_photoWrapper
		margin-bottom 33px
		font-size 0

		@media $lgMinus
			margin-bottom 25px

		@media $smMinus
			margin-bottom 20px

		@media $xs
			margin-bottom 17px
	
	&_name
		width 7.916em
		margin-bottom 0.3em
		font-weight 600
		font-size 1.5em
		line-height 1.1
		letter-spacing -0.02em
	
	&_post
		color $grey
		font-size 1em
		line-height 1.8
	
	&-twoCol
		display flex
		flex-direction row-reverse
		align-items flex-end
		width auto

		.TeamMember_photoWrapper,
		.TeamMember_textWrapper
			flex-shrink 0
		
		.TeamMember_photoWrapper
			margin-bottom 0
			
			@media $lgMinus
				flex-shrink 1
		
		.TeamMember_textWrapper
			margin-right 12.6%
			text-align right