.Timeline
	position relative

	&_startDot
		position relative
		width 5em
		height 5em
		margin 0 auto 2.5em
		border 1px solid rgba($roze, .3)
		border-radius 50%
		font-size 16px

		@media $lgMinus
			font-size 12px

		@media $xs
			position absolute
			top 3px
			z-index 10
			left -12px
			width 2.4em
			height 2.4em
			margin-bottom 0
			border-color $roze
			font-size 10px

		&::before,
		&::after
			content ''
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			margin auto
			border-radius 50%

		&::before
			width 3.75em
			height 3.75em
			border 1px solid $roze

			@media $xs
				display none
		
		&::after
			width 1.5em
			height 1.5em
			background $roze

			@media $xs
				width 1.4em
				height 1.4em
	
	&_items
		position relative

		@media $xs
			padding-left 20px

		&::after
			content ''
			position absolute
			top 0
			bottom 280px
			left 50%
			width 1px
			background rgba($grey, .5)

			@media $xs
				top 22px
				bottom 0
				left 0
	
	&_item
		position relative
		display flex
		align-items center
		padding 9% 0

		@media $lgMinus
			padding 7% 0
		
		@media $smMinus
			padding 5% 0

		@media $xs
			flex-direction column
			align-items flex-start
			margin-bottom 40px
			padding 0

			&:last-child
				margin-bottom 0

		&:first-child
			.Timeline_year
				background $roze
				color $white

				@media $xs
					background transparent
					color $blue

					&::before
						display none

		&:nth-child(even)
			flex-direction row-reverse

			@media $xs
				flex-direction column

			.Timeline_imgWrapper
				padding-right 0
				padding-left 120px
				text-align left

				@media $xs
					padding-left 0

			.Timeline_textWrapper
				padding-right 10%
				padding-left 0

				@media $xs
					padding-right 0

	&_year
		position absolute
		top 50%
		left 50%
		z-index 10
		display inline-flex
		justify-content center
		align-items center
		width 3.34em
		height 3.34em
		border-radius 50%
		background #ECEFF6
		font-size 36px
		line-height 1.1
		font-family $angelicaProFont
		transform translate(-50%, -50%)

		@media $lgMinus
			font-size 27px

		@media $smMinus
			font-size 23px
		
		@media $xs
			position relative
			top 0
			left 0
			margin-bottom 0.7em
			transform none
			width auto
			height auto
			color $blue

			&::before
				content ''
				position absolute
				top 7px
				left -26px
				width 14px
				height 14px
				border-radius 50%
				background $roze

	&_imgWrapper,
	&_textWrapper
		flex 50% 1 1

		@media $xs
			flex-basis 100%
	
	&_imgWrapper
		padding-right 10%
		text-align right
		
		@media $xs
			order 1
			padding-right 0
			text-align left
	
	&_textWrapper
		padding-left 10%

		@media $xs
			margin-bottom 15px
			padding-left 0
	
	&_title
		margin-bottom 0.4em
		font-size 36px
		line-height 1.1
		font-family $angelicaProFont

		@media $lgMinus
			font-size 27px

		@media $smMinus
			font-size 23px

		@media $xs
			font-size 20px
	
	&_text
		font-size 14px
		line-height 1.8
		color $grey

		@media $lgMinus
			font-size 11px