.TimelineSection
	padding 8.5% 0 6.4%

	@media $lgMinus
		padding 4.4% 0 3%

	&_label
		margin-bottom 6.7em

		@media $lgMinus
			margin-bottom 4.5em
	
	&_title
		max-width 10em
		margin-bottom 0.8em

		@media $lgMinus
			max-width 100%