footer.Footer
	.Container
		.Footer_top
			a(href="/" title="Mera").Logo.Footer_logo
				img(src="/img/logo_roze.svg" alt="Logo").Logo_imgRoze
			.SecondaryMenu.Footer_secondaryMenu
				ul.SecondaryMenu_list
					li.SecondaryMenu_item
						a(href="/company.html").SecondaryMenu_link О компании
					li.SecondaryMenu_item
						a(href="/projects.html").SecondaryMenu_link Проекты
					li.SecondaryMenu_item
						a(href="/terms_of_purchase.html").SecondaryMenu_link Условия приобретения
					li.SecondaryMenu_item
						a(href="/news_and_promotions.html").SecondaryMenu_link Новости и акции
					li.SecondaryMenu_item
						a(href="/contacts.html").SecondaryMenu_link Контакты
			.Footer_contacts
				.Footer_address
					p Центральный офис продаж #[br]г. Кемерово, пр. Октябрьский, 2Б, оф. 40 #[br]+7 (3842) 23-33-23
				.SocLinks
					ul.SocLinks_list
						li.SocLinks_item
							a(href="https://vk.com/i_mera_ru" target="_blank").SocLink.SocLink-outline.SocLink-vk
						li.SocLinks_item
							a(href="https://www.facebook.com/merakuzbass" target="_blank").SocLink.SocLink-outline.SocLink-fb
						li.SocLinks_item
							a(href="https://www.instagram.com/i_mera_ru/" target="_blank").SocLink.SocLink-outline.SocLink-instagram
						li.SocLinks_item
							a(href="https://www.youtube.com/channel/UCJ_yuo1UHTrElHxqS4gvBxQ" target="_blank").SocLink.SocLink-outline.SocLink-youtube
		.Copyright
			.Copyright_left
				p © 2021 Мера
			.Copyright_right
				p Материалы, представленные на сайте не являются публичной офертой. Визуализации объекта являются ориентировочными. Застройщик вправе вносить изменения в проектную документацию в соответствии с действующим законодательством.