header.Header
	.Header_left
		a(href="/" title="Mera").Logo.Header_logo
			img(src="/img/logo.svg" alt="Logo").Logo_imgWhite
			img(src="/img/logo_roze.svg" alt="Logo").Logo_imgRoze
		.MainMenu
			ul.MainMenu_list
				li.MainMenu_item
					a(href="/company.html").MainMenu_link Компания
				li.MainMenu_item
					a(href="/team.html").MainMenu_link Команда
				li.MainMenu_item
					a(href="/projects.html").MainMenu_link Проекты
				li.MainMenu_item
					a(href="/contacts.html").MainMenu_link Контакты
	.Header_right
		a(href="tel:+73842233323").Phone.Header_phone +7 (3842) 23-33-23
		a(href="#").BtnBlue Оставить заявку